<nav class="navbar navbar-expand-md navbar-light bg-white d-none d-md-flex">
  <div class="container-fluid">

    <!-- Brand -->
    <span class="navbar-brand mr-auto">
      {{ pageName }}
    </span>

    <!-- User -->
    <div class="navbar-user">
      <!-- Dropdown -->
      <div class="dropdown">

        <!-- Toggle -->
        <a href="#!" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm">
            <span class="avatar-title rounded-circle">{{ user.firstname|slice(0, 1) ~ user.lastname|slice(0, 1) }}</span>
          </div>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="/dashboard/accounts/edit/{{ user._id }}" class="dropdown-item">Profile</a>
          <hr class="dropdown-divider">
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>

  </div> <!-- / .container-fluid -->
</nav>
