{% extends 'dashboard/layout/base.twig' %}

{% block content %}
  <!-- CARDS -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-12">

        <!-- Goals -->
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">

                <!-- Title -->
                <h4 class="card-header-title">
                  Manage Facebook Live Comm
                </h4>

              </div>
              <div class="col-auto">

                <!-- Button -->
                <a href="/dashboard" class="btn btn-sm btn-white">
                  Cancel
                </a>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="card-body">
            <form method="post" action="/dashboard/settings/edit">
              <div class="form-group">
                <label for="access_token">Page Access Token</label>
                <input name="access_token" type="text" class="form-control" id="access_token" placeholder="Page Access Token" value="{{ projectSetting.access_token }}">
              </div>
              <div class="form-group">
                <label for="post_id">Post ID</label>
                <input name="post_id" type="text" class="form-control" id="post_id" placeholder="Post ID" value="{{ projectSetting.post_id }}">
              </div>
              <input name="_id" type="hidden" value="{{ projectSetting._id }}" />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container-fluid -->
{% endblock content %}
